---
const identity = {
    first: "Bernhard",
    second: "Obermoser",
    country: "Österreich",
    hobbies: ["programmierung", "design", "lesen", "kochen"],
};
const skills = ["HTML", "CSS", "Typescript"];
const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "uppercase";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";
import locPic from '../assets/image/localpic.jpg';

---

<style define:vars={{ skillColor, fontWeight, textTransform }}>
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textTransform);
    }
</style>
<BaseLayout pageTitle="Über uns">
    <li>Mein Name ist {identity.first}.</li>
    <li>
        Ich lebe in {identity.country} und zwei meiner Hobbies sind:
    </li>
    {
        identity.hobbies.length >= 3 && (
            <li>
                {identity.hobbies[0]} und {identity.hobbies[2]}
            </li>
        )
    }
    <p>
        Meine Kenntnisse umfassen:
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    </p>
    <Image alt="im local" width="620" src={locPic}></Image>
</BaseLayout>
